body {
    background-color: ghostwhite;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
.allcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.box1{
    width: 45%;
    height:20rem;
    overflow-x:hidden;
    overflow-y:scroll;
    box-shadow:4px 1px gray;
    border-top: 3px solid grey ;
    border-left: 3px solid  gray;
    margin-bottom: 40px;

}
.navigation{
    display: flex;
    flex-wrap: wrap;
    background-color:blueviolet;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 1.5rem;
    width: 100%;
    justify-content: space-between;

}
.text{
    margin-top: 2rem;
}
i{
    color: white;
}
.left_side_div{
    margin-right: 2rem;
}
.fas{
    margin: 0 1.5rem;
    cursor: pointer;
}
.right_side_div{
    margin-left:-2rem;
}
.fixed{
    position:sticky;
    top: 0px;
    width: 95%;
}
.fixed_div{
    margin-right:-1rem;
}
.dense{
    padding: 1rem;
}
.text1{
    margin-top:4rem;
    margin-right: 15rem;
    font-size: 20px;
}
.fix{
    position:sticky;
    top: 0px;

}
.nav{
    display: flex;
    width: 15%;
    height:25px;
    border-bottom-right-radius: 2rem;
}

.ic{
    margin-top: -20px;
    padding-left:2rem;
}
.nav_short{
    position: sticky;
    top:0;
}
.short .nav_short{
    position: sticky;
    top: 0;
    display: flex;
    width: 15%;
    height:25px;
    border-bottom-right-radius: 2rem;
}
section{
    font-size: 80px;
}